.style{
    background-color: #006064;  
    color: #fff;
}

.btn-1{
    background-color: #ffb300;
    color: #fff;
}

.btn-2{
    background-color: #009688;
    color: #fff;
}

.btn-link{
    color:#006064;
}